<kendo-grid [data]="gridData" [pageSize]="state.take" [skip]="state.skip" [sort]="state.sort" [group]="state.group"
  [sortable]="{ mode: 'multiple' }" [pageable]="true" [groupable]="{ showFooter: true }"
  (dataStateChange)="dataStateChange($event)">
  <kendo-grid-column field="Order_id" title="Product ID" width="150">
    <ng-template kendoGridHeaderTemplate>
      <input
            type="checkbox"
            (change)="checkGroup(group)"
            class="k-checkbox"
            id="selectAllCheckboxPrintId"
            name="selectAllCheckboxOption"
            title="Select All "
          />
      <label class="k-checkbox-label" for="selectAllCheckboxPrintId"
            >Select All</label>
    </ng-template>
    <ng-template kendoGridCellTemplate let-dataItem>
      <input
            type="checkbox"
            [checked]="dataItem.checked"
            [(ngModel)]="dataItem.checked"
            class="customCheckBtn"
            id="id_{{ field }}_{{ value }}"
            [name]="dataItem.Order_id"
          />
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column field="ProductName" title="Product Name">
    <ng-template kendoGridGroupHeaderTemplate let-group let-aggregates let-title="title" let-field="field"
      let-value="value" let-dataItem="dataItem">
      <strong
            ><input
              type="checkbox"
              (change)="checkGroup(group)"
              [checked]="isGroupChecked(group)"
              class="customCheckBtn"
              id="id_{{ field }}_{{ value }}"
            />&nbsp; Count: {{ value }}</strong>
    </ng-template>

    <ng-template kendoGridGroupHeaderTemplate let-group let-aggregates let-title="title" let-field="field"
      let-value="value" let-dataItem="dataItem">
      <strong
            ><input
              type="checkbox"
              (change)="checkGroup(group)"
              [checked]="isGroupChecked(group)"
              class="customCheckBtn"
              id="id_{{ field }}_{{ value }}"
            />&nbsp; Count: {{ value }}</strong>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column field="UnitPrice" title="Unit Price" width="200">
    <ng-template kendoGridGroupHeaderTemplate let-group let-title="title" let-field="field" let-value="value"
      let-dataItem="dataItem">
      <strong
            ><input
              type="checkbox"
              (change)="checkGroup(group)"
              [checked]="isGroupChecked(group)"
              class="customCheckBtn"
              id="id_{{ field }}_{{ value }}"
            />&nbsp; Price: {{ group.value }}</strong>
    </ng-template>
  </kendo-grid-column>

  <kendo-grid-column field="Quantity" title="Quantity" width="200">
    <ng-template kendoGridGroupHeaderTemplate let-group let-title="title" let-field="field" let-value="value"
      let-dataItem="dataItem">
      <strong
            ><input
              type="checkbox"
              (change)="checkGroup(group)"
              [checked]="isGroupChecked(group)"
              class="customCheckBtn"
              id="id_{{ field }}_{{ value }}"
            />&nbsp; Quantity: {{ group.value }}</strong>
    </ng-template>
  </kendo-grid-column>

  <kendo-grid-column field="Packages_available" title="Packages Available" width="200">
    <ng-template kendoGridGroupHeaderTemplate let-group let-title="title" let-field="field" let-value="value"
      let-dataItem="dataItem">
      <strong
            ><input
              type="checkbox"
              (change)="checkGroup(group)"
              [checked]="isGroupChecked(group)"
              class="customCheckBtn"
              id="id_{{ field }}_{{ value }}"
            />&nbsp; Packages Available: {{ group.value }}</strong>
    </ng-template>
  </kendo-grid-column>

  <kendo-grid-column field="Packages_status" title="Packages Status" width="200">
    <ng-template kendoGridGroupHeaderTemplate let-group let-title="title" let-field="field" let-value="value"
      let-dataItem="dataItem">
      <strong
            ><input
              type="checkbox"
              (change)="checkGroup(group)"
              [checked]="isGroupChecked(group)"
              class="customCheckBtn"
              id="id_{{ field }}_{{ value }}"
            />&nbsp; Packages Status: {{ group.value }}</strong>
    </ng-template>
  </kendo-grid-column>

  <kendo-grid-column field="Discontinued" width="120">
    <ng-template kendoGridCellTemplate let-dataItem>
      {{ dataItem.Discontinued ? 'Yes' : 'No' }}
    </ng-template>

    <ng-template kendoGridGroupHeaderTemplate let-group let-aggregates let-title="title" let-field="field"
      let-value="value" let-dataItem="dataItem">
      <strong
            ><input
              type="checkbox"
              (change)="checkGroup(group)"
              [checked]="isGroupChecked(group)"
              class="customCheckBtn"
              id="id_{{ field }}_{{ value }}"
            />&nbsp;
            {{ group.value ? 'Discontinued' : 'Not Discontinued' }}</strong>
    </ng-template>
  </kendo-grid-column>
</kendo-grid>